.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 28px 48px 0;
  max-width: calc(1280px - (48px * 2));
  min-width: calc(100% - (48px * 2));
}

@media (max-width: 768px) {
  .header {
    max-width: calc(1280px - (24px * 2));
    min-width: calc(100% - (24px * 2));
    padding: 28px 24px 0;
  }
}

@media (max-width: 590px) {
  .header {
    max-width: calc(590px - (16px * 2));
    min-width: calc(100% - (16px * 2));
    padding: 16px 16px 0;
  }
}
